bgconfig
bgdata
bgreference
biopython
boto3
botocore
bowtie
Click
Cython
h5py
jupyter-client
jupyter-core
matplotlib
numpy
ont-fast5-api
pandas
PyYAML
scikit-learn
scipy
seaborn
snakemake
statsmodels
tqdm